.datatable_water_Requests {
    .water_status_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .water_count_status {
        width: 120px;
        height: 25px;
        border: 1px solid #d4d4d4;
        margin-right: 5px;
        font-weight: 600;
        background: transparent linear-gradient(180deg, #74a6b6 0%, #2c4c51 100%)
          0% 0% no-repeat padding-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f8f2f2;
        font-size: 12px;
        .water_brand {
          font-weight: inherit;
        }
        .current_water_stock,
        .current_water_orders {
          width: 21px;
          height: 20px;
          border-radius: 2px;
          margin: 0px 5px 0px 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .current_water_stock {
          background: #00a244 0% 0% no-repeat padding-box;
        }
        .current_water_orders {
          background: #2fb3db 0% 0% no-repeat padding-box;
        }
        .gettingoutofstock {
          background: #ca102a 0% 0% no-repeat padding-box;
        }
      }
    }
    .p-datatable {
      .price-input {
        border: 1px solid #a6a6a6;
        padding: 0.3em;
        width: 100%;
        font-size: 12px;
        border-radius: 3px;
      }
      .p-paginator.p-component.p-unselectable-text.p-paginator-bottom {
        background: #627484 0% 0% no-repeat padding-box;
        .p-paginator-prev,
        .p-paginator-next,
        .p-paginator-last,
        .p-paginator-first,
        .p-paginator-page {
          color: #fcf3f3;
        }
      }
      .p-datatable-thead > tr > th {
        color: #f8eeee;
        background: #627484 0% 0% no-repeat padding-box;
        font-size: 12px;
        height: 40px;
      }
      .p-sortable-column:not(.p-highlight):hover {
        color: #f8eeee;
        background: #627484 0% 0% no-repeat padding-box;
      }
      .p-sortable-column:focus {
        box-shadow: none;
      }
      .p-sortable-column-icon {
        color: #e7dada !important;
      }
      .p-inputtext:enabled:focus {
        border: 1px solid #a6a6a6;
        box-shadow: none;
      }
      .p-button:enabled:focus {
        box-shadow: none;
      }
      .p-datatable-header {
        .table-header {
          display: flex;
          align-items: center;
          .left_container {
            display: flex;
            justify-content: flex-start;
            .p-button-success.p-mr-2.p-button-text-icon-left {
              margin-right: 10px;
            }
          }
          .Right_container {
            display: flex;
            justify-content: flex-end;
            input.p-inputtext.p-component {
              width: 175px;
              font-size: 12px;
              padding: 0.329em;
            }
  
            i.pi.pi-search {
              position: relative;
              font-size: 1.15em;
              right: 1.3em;
              top: 2px;
            }
          }
        }
      }
      .p-datatable-tbody {
        .p-datatable-row {
          td {
            button.p-row-editor-init.p-link {
              width: 2.1em;
              height: 2.1em;
              background-color: #628a15;
              border: 1px solid #628a15;
              color: white;
              padding: 3px;
              font-size: 13px;
            }
            .p-button-rounded {
              border-radius: 4px;
              margin-right: 5px;
            }
            .delivery_icon {
              width: 2em;
              height: 2em;
            }
            .delete_icon {
              background-color: #e6154f;
              border: 1px solid #e6154f;
              width: 2em;
              height: 2em;
            }
            .p-row-editor-save.p-link,
            .p-row-editor-cancel.p-link {
              width: 1.5em;
              height: 1.5em;
              font-size: 14px;
              margin-right: 5px;
              color: white;
              padding-top: 1px;
            }
            .p-row-editor-save.p-link {
              background-color: #08b17a;
            }
            .p-row-editor-cancel.p-link {
              background-color: #ec82d1;
            }
            input.p-inputtext.p-component {
              font-size: 12px;
              padding: 0.38em;
            }
          }
        }
      }
    }
  }
  