.advertisements_buttons {
  background: #627484;
  height: 45px;
  margin-bottom: 20px;

  button {
    float: right;
    margin: 6px 20px 6px 0px !important;
    color: #383838 !important;
    font-weight: bold;
    background-color: #f2f2f2 !important;
    border: none !important;
  }
  .p-button:enabled:focus{
    box-shadow: none !important;
  }
}
.slick-slide img{
  width: 80%;
  height: 550px !important;
}
