.Cardheader {
  width: 301px;
  height: 32px;
  background: #627484 0% 0% no-repeat padding-box;
  color: #f6f6f6;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.Cardcontent {
  width: 301px;
  height: 150px;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #383838;
  padding: 16px;
  font-size: 13px;
  overflow-y: auto;
//   ::-webkit-scrollbar {
//                 width: 6px !important;
//                 -webkit-appearance: none !important;

// 			}
// 			::-webkit-scrollbar-track {
// 				border-radius: 4px !important;
// 					box-shadow: 0px 0 0px 2px #fafafa !important;
// 					background: #fafafa !important;
// 			}
// 			::-webkit-scrollbar-thumb{
// 					background:#16BADA !important;
// 			}

  .List {
    border-bottom: 1.5px solid #e4dcdc;
    padding: 1px;
    display: flex;

    .brandname {
        opacity: 0.9;
        width: 200px;    }
    .brandcount {
      font-weight: bold;
      padding-left: 20px;
    }
  }
}

.delivered_list_header{
    height: 35px;
    background: #1c252d;
    color: #f6f6f6;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.cards_block {
    display: flex;
    width: 100%;
    overflow: auto;
    height: 250px;
    padding-top: 30px;
    box-shadow: 0px 3px 6px #00000029;
  
}
.CardsList {
    padding: 0px 40px;
}
.dashboard_main_block{
    margin-bottom: 35px;
}
// html {
//     overflow: -moz-scrollbars-vertical !important; 
//     overflow-y: scroll !important;
// }