.products_list .p-dropdown {
  width: 14rem;
  font-weight: normal;
}
.p-dataview-content {
  background-color: #f2f2f2 !important;
}
.p-dialog-titlebar {
  // width: 640px;
  height: 46px;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
  border: none;
  background-color: #627484 !important;
  border-bottom: none;
  color: #fcf8f8 !important;
  border: none !important;
}
.p-dialog-titlebar-close-icon {
  color: #fcf8f8 !important;
}
.p-link:focus {
  box-shadow: none;
  color: #fcf8f8 !important;
}
span.p-dialog-title {
  float: left;
}
.p-dialog-content {
  border: none !important;
}

.p-dialog-footer {
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 7px 7px;
  border: none !important;
  .p-button {
    width: 80px !important;
    height: 30px !important;
    border-radius: 2px;
    opacity: 1;
    padding: none !important;
    margin: 0px 5px;
    border: none;
    color: #ffff;
    font-size: 12px;
  }
}
.nobtn {
  background-color: #484848 !important;
}
.yesbtn {
  background-color: #4b757c !important;
}
.p-paginator.p-component.p-unselectable-text.p-paginator-bottom {
  background: #627484 0% 0% no-repeat padding-box;
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-first,
  .p-paginator-page {
    color: #fcf3f3;
  }
}
.p-dataview-header {
  background-color: #627484 !important;
}
.product-grid-item-top {
  font-size: 16px;
}
.products_list .product-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin: -5px 0px 13px 0px;
}

.products_list .product-description {
  margin: 0 0 1rem 0;
}

.products_list .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.products_list .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.products_list .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 4px 2px -2px #bab4b4;
}

.products_list .product-list-item img {
  width: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.products_list .product-list-item .product-list-detail {
  flex: 1 1 0;
}

.products_list .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.products_list .product-list-item .product-price {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.products_list .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.products_list .product-list-item .p-button {
  margin-bottom: 0.5rem;
}

.products_list .product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
  // padding: 2rem;
}

.products_list .product-grid-item .product-grid-item-top,
.products_list .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products_list .product-grid-item img {
  width: 35%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 1rem 0;
}

.products_list .product-grid-item .product-grid-item-content {
  text-align: center;
}

.products_list .product-grid-item .product-price {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .products_list .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .products_list .product-list-item img {
    width: 55%;
    margin: 1rem 0;
  }

  .products_list .product-list-item .product-list-detail {
    text-align: center;
  }

  .products_list .product-list-item .product-price {
    align-self: center;
  }

  .products_list .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .products_list .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.p-button:enabled:focus {
  box-shadow: none !important;
}
/* width */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  background: #627484 !important;
}
.products_list {
  .delete_icon {
    border-radius: 50%;
    border: none !important;
    background-color: #c62d09 !important ;
  }
  .edit_icon {
    border-radius: 50% !important;
    border: none !important;
    background-color: #29a1db !important;
  }
  .p-button.p-button-icon-only {
    width: 2em;
    height: 2em;
}
}
.editable_dialog {
  label.p-checkbox-label {
    bottom: 0px !important;
  }
  .p-field {
    padding: 5px;
    font-size: 12px;
    input {
      font-size: 12px;
    }
  }
  label {
    font-weight: 600;
    position: relative;
    bottom: 5px;
  }
  .p-field.p-col {
    padding: 10px 12px;
    font-size: 12px;
    input {
      font-size: 12px;
    }
  }
}
.p-inputtext:enabled:focus {
  box-shadow: none !important;
  border: 1px solid;
}
.p-checkbox .p-checkbox-box.p-highlight {
border-color: none !important;
box-shadow: none !important;

}
body .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus{
        border-color: none !important;
    box-shadow: none !important;   
 }
